
.side {
	position: fixed;
	float:left;
	width: 30%;
	overflow: auto;
}
.main{
	float:right;
	width: 65%;
	height: auto;
	/*overflow: auto;*/
}
.box{
	width:30%;
	padding: 4px;
	border: 1px black solid;
	/*border-color: black;*/
}
.box .cost::before{
	content:"Cost: ";
}
.box .production::before{
	content:"Production: ";
}
.box .amount::before{
	content:"Amount: ";
}
.box .amount{
	float:right;
}