/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.08.2014, 21:22:43
    Author     : gnorax
*/

*{
	color: black;
	/*background: white;*/
	font-family: Arial, sans-serif;
	
	margin: auto;
	margin-left: 0px;
	padding-left: 0px;
}

.header {
	font-size: 3em;
	text-align: center;
	position: relative;
	background: blue;
}

.navbar {
	font-size: 2em;
	/*position: relative;*/
	background: green;
}

.main {
	font-size: 1.5em;
	position: relative;
	background: orange;
}
.footer{
	font-size: 0.8em;
	clear: both;
	position: relative;
	background: red;
}

.left{
	float:left;
	width: 30%;
	overflow: auto;
}
.right{
	float:right;
	width: 65%;
	height: auto;
	/*overflow: auto;*/
}

.list-inline{
	list-style: none outside none;
	margin:0;
	padding:0;
	border: 0;
}
.centered{
	text-align: center;
}
.list-inline li{
	display: inline-block;
	/*border: 1px solid black;*/
	overflow: auto;
	width: 30%;
}


#buyBox {
	width: 25%;
	border: black 2px solid;
}

.UpgradeBox{
	list-style: none outside none;
	/*display: list;*/
	padding-left: 0;
	margin-left: 0;
	text-align: left;
	width: 30%;
	border: black 2px solid;
}

.UpgradeBox li{
	/*display: block;*/
}

#InflationBox{
	
}


#ClickerScreen {
	display: block;
}
#BuildingScreen {
	display: none;
}
#UpgradeScreen {
	display: none;
}

/*@media screen and (device-pixel-ratio: 1)
    and (device-width: 1024px)
    and (max-device-height: 600px)
    and (orientation: landscape),
  screen and (device-pixel-ratio: 1)
    and (device-width: 600px)
    and (max-device-height: 1024px)
    and (orientation: portrait){}*/